# Logs
/application/logs/*.log
/system/logs/*.log

# Cache
/application/cache/*
/system/cache/*

# Session files
/application/session/*

# Config files
/application/config/config.php
/application/config/database.php

# User-specific config files
/application/config/*_config.php

# Composer
/vendor/

# IDE files
.idea/
.vscode/

# Misc
Thumbs.db
.DS_Store
